@use "../../styles/mixins";

.section {
  @include mixins.section-padding;

  background-color: var(--color-bg-alt);
}

.inner {
  @include mixins.section-inner;
}

.amenityList {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
  font-size: 1rem;

  div {
    display: flex;
    justify-content: space-between;
    gap: var(--space-xs);
    border-block-end: 1px solid var(--color-border);
    padding-block-end: var(--space-2xs);
  }

  dt {
    color: var(--color-text-muted);
  }

  dd {
    font-weight: 600;
  }
}
